.divider{
    
}

.logo76{
    width: 76px;
    height: 76px;
    display: flex;
}

.logo-img {
    margin: auto;
    width: 76px;
    height: 76px;
}

.logo-stick img{
   height: 50px; 
        width: auto;
    display: block;
}

.logo .stick{
     width: 50px !important; 
}

.logo .logoP {
    height: 165px;
    width: auto;
    display: block;
}

.service-block .image img {
    height: stretch;
}

.pricing-table .image-box .image img{
    border-radius: 20%;
}

.off{
position: relative;
    font-size: 20px;
    line-height: 1em;
    color: #c0bdbc;
    font-family: Merienda One;
    vertical-align: middle;
    margin-bottom: 20px;
    text-decoration: line-through;
}

.dash img{
    width: 60px;
    height: 60px;
   
}

 